@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/*refreshing margins to avoid extra space*/
* {
    margin:0;
    padding:0;
    font-family:'Balsamiq Sans', sans-serif;
    /* background-color: #ffffff; */
}

/*navigation background*/
 .navigationbar  {
    background-color: #182b3261;
    color: white;
    padding: 5px 20px;
    display: flex;              
    justify-content: space-between;
    font-size: 40px;
}
/*navigation text*/
.navigationbar #logoutbutton,
.navigationbar #gototutorialbutton {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
/*navigation text hover color*/
.navigationbar #logoutbutton:hover,
.navigationbar #gototutorialbutton:hover {
    color: #ff0606;
    text-decoration: underline;
    cursor: pointer;
}

/*icon positioning*/
#gameICON {
    text-align:center;
}
/*icon sizing*/
#gameICON img {
    width: 200px;
}

/*LOGIN positioning*/
.LoginContainer {
    width: 400px;     
    margin: 20px auto;
    padding: 15px;
}

/*for user and password*/
.InputRow {
    display: flex;                  /* horizontal alignment for label and input */
    justify-content: center;        /* center the row in the form */
    align-items: center;          
    margin-bottom: 15px;            /* spacing between rows */
    gap: 10px;                      /* space between label and input */
}

/*for user and password decorations*/
.labelBox {
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #c5ebf3;
    box-shadow: 3.5px 5.25px 0 #000000;
    font-family: 'Balsamiq Sans', sans-serif;
    text-align: center;
    min-width: 80px;      
}

/*background color etc inside the inputbox*/
.LoginContainer input {
    width: 140px;                   
    padding: 6px;
    border-radius: 20px;
    border: 3px solid #000;
    background-color: #d7d7d7e5;
    box-shadow: 3.5px 5.25px 0 #000000;
}

/* border line color effect when you type in the box */
.LoginContainer input:focus {
    outline: none;         
    border: 3px solid #0b51e8; 
    box-shadow: 3.5px 5.25px 0 #041d5460;
} 

/* BUTTON ADJUSTMENTS START */
#LoginButton{
    width: 40%;            
    padding: 8px;
    border-radius: 20px;
    box-shadow: 3.5px 5.25px 0 #000000;
    background-color: #82d377;
    color: white;
    border: none;
    cursor: pointer;
}

#LoginButton:hover{
    background-color: #41a146;
}

#SignupButton {
    width: 40%;                
    padding: 8px;
    border-radius: 20px;
    background-color: #008080;  
    color: white;
    box-shadow: 3.5px 5.25px 0 #000000;
    border: none;
    cursor: pointer;
}

#SignupButton:hover {
    background-color: #016666;
}

#PASButton {
    width: 40%;              
    padding: 8px;
    border-radius: 20px;
    background-color: #3E96F4;  
    color: white;
    box-shadow: 3.5px 5.25px 0 #000000;
    border: none;
    cursor: pointer;
}

#PASButton:hover {
    background-color: #2f6cae;
}

#LoginButton,
#SignupButton,
#PASButton {
    display: block;      /* forces each button onto its own line */
    margin: 30px auto;   /* vertical spacing */
}
/* BUTTON ADJUSTMENTS END*/
body {
    background-image: url('test1.jpg'); 
    background-size: cover; 
}

#message {
    position: absolute;
    top: 300px; 
    right: 520px;
}
