@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/*refreshing margins to avoid extra space*/
* {
    margin:0;
    padding:0;
    font-family:'Balsamiq Sans', sans-serif;
    /* background-color: #ffffff; */
}

/*navigation background*/
 .navigationbar  {
    background-color: #182b3261;
    color: white;
    padding: 5px 20px;
    display: flex;              
    justify-content: space-between;
    font-size: 40px;
}
/*navigation text*/
.navigationbar #logoutbutton,
.navigationbar #gototutorialbutton {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
/*navigation text hover color*/
.navigationbar #logoutbutton:hover,
.navigationbar #gototutorialbutton:hover {
    color: #ff0606;
    text-decoration: underline;
    cursor: pointer;
}

/*icon positioning*/
#gameICON {
    text-align:center;
}
/*icon sizing*/
#gameICON img {
    width: 50px;
}
body {
    background-image: url('../Assets/Images/game_background.jpg'); 
    background-size: cover; 
}

#message {
    position: absolute;
    top: 300px; 
    right: 520px;
}

#playerinfo, #computerinfo {
    position: absolute;
    top: 150px;
    text-align: center;
    color: white;
}
#playerinfo { left: 45px; }
#computerinfo { right: 75px; }



#playerinfo h1, #computerinfo h1 {
    font-size: 50px;
    color: white;
}

#playerinfo h2, #computerinfo h2 {
    font-size: 30px;
    color: white;
}

#PlayerChoices, #ComputerChoices {
    position: absolute;
    top: 300px;
    display: flex;
    gap: 10px;
}
#PlayerChoices { left: 40px; }
#ComputerChoices { right: 40px; }

/* Button style */
.buttonstyle {
    width: 100px;                  
    cursor: pointer;
    transition: transform 0.2s, opacity 0.3s;
}

.buttonstyle:hover {
    transform: scale(1.1);
}

    
#playerinfo h1, #computerinfo h1 {
    font-size: 50px;
}

#playerinfo h2, #computerinfo h2 {
    font-size: 30px;
}
